.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.photo{
width:250px ;
height:350px ;
}
.photo img{
    margin-left: -150px;
    margin-top: 100px;
    width: 250px;
    height: 450px;
}
.btn{
    margin-top: 20px;
    margin-left: 700px;
}